<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>

      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid justify-content-between">
          <!-- Utilize justify-content-between class -->
          <!-- Left side of the navbar -->
          <a class="navbar-link" href="/"><h1 class="pt-3">Habit Tracker</h1></a>

          <!-- Right side of the navbar -->
          <div>
            <ul class="navbar-nav">
              {{#if logged_in}}
                <li class="nav-item">
                  <a class="nav-link" action="/api/users/logout" method="GET">Logout</a>
                </li>
              {{else}}
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signup">Signup</a>
                </li>
              {{/if}}
            </ul>

            <!-- Dropdown button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </nav>
    </header>
    <main class="container">
      {{{body}}}
    </main>
  </body>
</html>