<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>

      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <!-- Left side of the navbar -->
          <a class="navbar-link" href="/"><h1 class="pt-3">Habit Tracker</h1></a>

          <!-- Right side of the navbar -->
          <div>
            <ul class="navbar-nav">
              {{#if logged_in}}
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
              {{else}}
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signup">Signup</a>
                </li>
              {{/if}}
            </ul>

            {{! <!-- Dropdown button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> }}
          </div>
        </div>
      </nav>
    </header>
    <main class="container">
      {{{body}}}
    </main>
    <footer class="footer container-fluid text-center p-3">
      <h7>Dedicated by
        <a href="https://github.com/larwis95">Larry</a><span> - </span>
        <a href="https://github.com/FonKnp">Fon</a><span> - </span>
        <a href="https://github.com/seth89">Seth</a>
      </h7>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script type="module" src="/js/api.js"></script>
  </body>
</html>
