<ul>
  <div class = "container mt-5 homePage">
    <div class = "row">
      <div class = "col-12">
        <h1> Welcome to the Habit Tracker </h1>
        <p>Everyone has things they want to improve on, Habit Tracker has you covered.</p>
        <p>Scroll to find out what we are about!</p>
      </div>
    </div>
  </div>
</ul>
