<ul>
  {{#if logged_in}}
    <li><a action="/api/users/logout" method="GET">Logout</a></li>
  {{else}}
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Signup</a></li>
  {{/if}}
</ul>