<div class = "container mt-5 homePage">
  <div class = "col-12 homePageIntro">
    <h1>Learn how to train your habit</h1>
    <p>Everyone has things they want to improve on, we have you covered.</p>
  </div>
  <div class = "col-12 homePageAbout d-flex">
    <h2>What is this?</h2>
    <p>How to Train your Habit is a web application that helps you track your habits and goals. You can create habits, set goals, and track your progress. You can also earn xp for completing habits and level up your pet!</p>
  </div>
  <div class = "col-12 underPets">
    <h2>Complete habits and level up!</h2>
  </div>
  <div class='homePagePets'>
    <img src = "../images/pets/orangeState1.gif" alt = "pets" class = "petImage">
    <img src = "../images/pets/orangeState2.gif" alt = "pets" class = "petImage">
    <img src = "../images/pets/greenState2.gif" alt = "pets" class = "petImage">
    <img src = "../images/pets/greenState1.gif" alt = "pets" class = "petImage">
  </div>
  {{#if logged_in}}
  {{else}}
  <div class="signuploginRow">
    <div class = "col-12 d-flex homePageLinkContainer">
    <h2 id="linkh2">Get Started Today</h2>
    <p><a href='/login' id="homePageLink">Login</a> or <a href='/signup' id="homePageSignup">Signup</a></p>
  </div>
  </div>
  {{/if}}
</div>

</div>
<script src="/js/homepage.js"></script>
