  <div class = "container mt-5 homePage">
    <div class = "row">
      <div class = "col-12">
        <h1> Welcome to the Habit Tracker </h1>
        <p>Everyone has things they want to improve on, Habit Tracker has you covered.</p>
        <p>Scroll to find out what we are about!</p>
        <div class='homePagePets mt-5'>
          <img src = "../images/pets/state1.gif" alt = "pets" class = "petImage">
          <img src = "../images/pets/state2.gif" alt = "pets" class = "petImage">
          <img src = "../images/pets/state3.gif" alt = "pets" class = "petImage">
          <img src = "../images/pets/state4.gif" alt = "pets" class = "petImage">
        </div>
      </div>
    </div>
  </div class="row">
    <div class = "col-12">
      <h2>Level up your pets by completeing habits!</h2>
    </div>
  </div>
</div>

<script src="/js/homepage.js"></script>
