<form class="loginForm">
  <input type="email" placeholder ="Enter your email" id="emailinput"></input>
  <input type="password" placeholder="Enter password" id="passwordinput"></input>
  <button type="submit" id="loginbutton">Login here</button>
</form>

<button id="signup">signup here</button>

<script src="/js/login.js"></script>
