<form class="signupForm">
  <input type="email" placeholder="Enter your email" id="emailSignup" />
  <input type="password" placeholder="Enter password" id="passwordSignup" />
  <button type="submit" id="signupButton">Sign up</button>
</form>

<script src="/js/signup.js"></script>