<div class="container">
<form class="signupForm">
  <input type="text" placeholder="Enter your username" id="usernameSignup">
  <input type="email" placeholder="Enter your email" id="emailSignup">
  <input type="password" placeholder="Enter password" id="passwordSignup">
  <button type="submit" id="signupButton">Sign up</button>
</form>
</div>
<script src="/js/signup.js"></script>
